body {
    background-color: grey;
}

.game{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.canvasWrap {
    display: none;
    position: relative;
    /*background-color: white;*/
    margin-top: 5%;
    left: 10%;
    margin-left: auto;
    margin-right: auto;
}

.squares{
    /*display: none;*/
    cursor: pointer;
    /*background-color: white;*/
}

.movie {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0px;
    left: 0px;
    background-color: red;
}

.emptyFields{
    position: absolute;
}

.tictactoe{
    background-color: white;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0px;
    left: 500px;
    color: darkred;
}

.execute{
    position: relative;
    cursor: pointer;
    left: 75%;
}

.Dashboard {
    position: relative;
    width: 90%;
}

.DashboardButtons {
    text-align: center;
}



