body {
    background-color: grey;
}

.movie {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0px;
    left: 0px;
    background-color: red;
}

.tictactoe{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0px;
    left: 500px;
    color: darkred;
    background-color: darkblue;
}

.execute{
    position: relative;
    left: 75%;
}

.Dashboard {
    position: relative;
    width: 90%;
}

.About article {
    display: none;
    text-align: center;
    position: static;
    background-color: white;
    padding: 5px 5px;
    box-shadow: 1px 1px 3px darkgray;
    width:75%;
    margin: 0 auto;
}

.DashboardButtons {
    text-align: center;
}

.DashboardButtons button{
    position: relative;
    background-color: white;
    color: grey;
    padding: 50px 50px;
    text-decoration: none;
    font-size: 22px;
    border: none;
    box-shadow: 1px 1px 3px darkgray;
    text-shadow: 3px 1px 5px lightgrey;
    margin-top: 1%;
}

.DashboardButtons button:hover{
    transition: 0.3s;
    background-color: darkgray;
}

